TELEGRAM_BOT_TOKEN=your_telegram_bot_token
ANTHROPIC_API_KEY=your_anthropic_api_key
BYTEPLUS_API_KEY=your_byteplus_api_key
BYTEPLUS_ENDPOINT=https://ark.ap-southeast.bytepluses.com/api/v3/images/generations
ALLOWED_USER_IDS=167926681
